@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{

  /* :root{
    --radius: 0.5rem;
  } */

/*   ::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track{
    background: transparent
  }

  ::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 0px;
  } */
  body{
    @apply overflow-x-hidden ;
    box-sizing: border-box;
  }

  table{
    border: 3px solid black;
    font-family: var(--bosch);
    border-collapse: collapse;
  }


  caption{
    letter-spacing: .2em;
    font-family: var(--grotesk);
    text-transform: uppercase;
    text-decoration: underline;

  }

  th, td{
    border: 1px solid black;
  }

  .table_row{
    /* padding: 7px; */
    text-align: end;
    padding-right: 20px;
  }
  thead{
    letter-spacing: 3px;
    font-family: var(--grotesk);
    text-transform: uppercase;
  }
}

@layer components{
  .gallery{
    position: fixed;
    width: 200%;
    height: 100%;
    left: -75%;
    overflow: hidden;
  }

  .char{
    display:inline-block;
    overflow: hidden;
  }

  .headerChars{
    transform: translateY(50);
    opacity:0;
  }

  .item{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 80px;
    cursor: pointer;
  }

  .item p{
    width: 100%;
    font-size: 42px;
    font-family: lastica;
    letter-spacing: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  .item p span{
    padding: 0 20px;
    font-size: 16px;
  }

  .home_heading{
    @apply bg-white text-black text-center font-grotesk uppercase lg:tracking-wider lg:text-5xl sxs:tracking-wide sxs:text-2xl xs:leading-[clamp(40px,10vw,80px)] xs:text-[clamp(3rem,10vw,6rem)] sm:text-[clamp(4rem,10vw,6rem)] sm:leading-[clamp(90px,10vw,100px)];
  }

  .home_description{
    @apply text-white  text-center font-grotesk  sxs:tracking-wide xs:tracking-wider lg:text-[6rem,3vw,7rem] uppercase sxs:text-[3rem, 4vw,6rem] sxs:bg-red-500 xs:leading-[clamp(40px,10vw,60px)] sm:leading-[clamp(60px,10vw,100px)] lg:leading-[clamp(3rem,6.3vw,6rem)] xs:text-[clamp(2rem,10vw,5rem)] sm:text-[clamp(5rem,10vw,6rem)];
  }

  .home-description_title{
      @apply text-white uppercase p-4 lg:tracking-wider font-grotesk underline underline-offset-2 xs:text-[clamp(1rem,4vw,2rem)] lg:text-2xl;
  }

  .home-description_footer{
    @apply text-white lg:tracking-widest xs:text-[clamp(15px,3vw,20px)] sm:text-[clamp(1.5rem,2vw,2rem)] lg:text-[clamp(0.5rem,4vw,1.2rem)]  sxs:w-full lg:w-[calc(500px,8vw,700px)] font-bosch ;
  }

  .home-footer{
    @apply font-grotesk text-black bg-white sxs:text-2xl text-end sm:text-[clamp(2rem,5vw,4rem)] lg:text-5xl lg:tracking-wider mr-4 align-middle sm:leading-[clamp(40px,6vw,60px)];
  }
  .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    z-index: 0;
    pointer-events: none;
  }


  .text_underline::after{
    content: '';
    position: absolute;
    width:100%;
    height:1px;
    background-color: #fff;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    bottom: 2px;
  }

  .text_underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .text-background{
    text-transform: uppercase;
    transform-style: preserve-3d;
    animation: rotate 8s linear infinite;
  }

  @keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
    100%{
        transform: perspective(1000px) rotateY(0) rotateX(15deg);
    }
  }

  .text-background .char{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    font-size: 40px;
    padding: 7px 26px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 16.5deg)) translateZ(250px);
  }

  .lineDescription{
      position:absolute;
      left:0;
      right:0;
      top:0;
  }

/*   .canvas_container{
    @apply fixed top-0 select-none h-[100vh] left-0 right-0 ;
  } */

  .canvas_container_section{
    @apply  h-full;
  }

  .dock_right{
    @apply h-screen relative flex flex-col justify-start lg:pt-2  sm:px-1 ;
  }

  .lastHeading{
    display:inline;
    color:'red';
  }

  .refChars{
    @apply uppercase text-2xl text-white leading-[50px] font-semibold w-full text-center;
  }

  .dock_left_top{
    @apply h-full lg:w-[60vw] sm:w-[50%];
  }


  .dock_right_title{
    @apply  font-[400] xl:text-lg sm:text-base sm:tracking-widest sm:w-[500px] xl:w-[600px];
  }

  /* .dock_right_description{
    @apply uppercase text-7xl leading-[85px] tracking-widest font-light;
  } */
  .dock_right_description{
    @apply relative font-light;
  }

  .header_2{
    position: absolute;
    transform-origin: bottom center;
  }


  .upload-btn{
    @apply flex min-h-14 w-full items-center justify-center rounded-md gap-1.5;
  }

  .form-btn{
    @apply bg-black text-white backdrop-blur-lg outline-none border-x-0 border-b-[1px] border-t-0 border-white opacity-90 hover:opacity-100 min-h-14 rounded-lg px-6 text-base; 
  }

  .progress{
    @apply rounded-full bg-green-800 p-0.5 text-center font-bosch text-[8px] font-bold leading-none text-slate-900;
  }
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


.canvas-loader {
  font-size: 4px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@layer base{
  :root{
    --background-start: 100%,100%,100% ;
    --background-end:26, 26, 26 ;
    --card: 0, 0%, 0%;
    --card-left: 0, 0%, 0%;
    --card-foreground: 0, 0%, 40%;
    --card-foreground-left: 95, 35%, 30%;
    --primary: 0, 0%, 40%;
    --primary-foreground:0, 0%, 100%;
    --background: 100 100%, 100%;
    --secondary: 0, 0%, 100%, 20%;
    --secondary-foreground:0, 0%, 40%;
  }
}
